.features
{
    font-size: 20px;
    font-weight: bold;
    line-height: 2em;
}

.feature-column
{
    width: 275px;
    line-height: 15px;
}

.feature-column img
{
    margin-top: 10px;
}

#marquee
{
    height: 175px;
    width: 840px;
    padding: 10px 0 15px 15px;
    border-top: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
    background-color: #EEEEEE;
    margin-top: 20px;
}

#marquee img
{
    margin: 10px 0px 10px 30px;
    width: 230px;
}

.button2 {
  display: block;
  display: inline-block;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  filter: "progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2px, Color='rgba(0, 0, 0, 0.5)')";
  -ms-filter: "\"progid:DXImageTransform.Microsoft.dropshadow(OffX=0, OffY=2px, Color='rgba(0, 0, 0, 0.5)')\"";
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  filter: dropshadow(color=rgba(0, 0, 0, 0.5), offX=0, offY=2px) glow(color=rgba(0, 0, 0, 0.5), strength=2px);
  font-family: "RaveIn Condensed", Avenir, Prelude, sans-serif;
  background-image: url(Images/button-shade.png);
  background-repeat: repeat-x;
  background-position: 0 0;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  font-weight: bold;
  color: white;
  background-color: #3465a4;
  border: 1px solid #22416a;
  padding: 2px 6px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none; }
  .button2:active {
    background-image: none;
    text-shadow: none;
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none; }
  .button2:hover {
    color: white; }

.download
{
    margin: 10px 0 5px;
    padding: 6px 30px;
    font-size: 200%;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    position: relative;
}

.download span
{
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 14px;
      -moz-border-radius: 14px;
      -webkit-border-radius: 14px;
}

.download:hover
{
    text-decoration: none;
}

.download-box
{
    padding: 15px 40px 15px 10px;
}

.left-column
{
    width: 375px;
    position: relative;
    padding: 0 30px 0 0;
    float: left;
}

.right-column
{
    width: 375px;
    position: relative;
    float: right;
    padding: 0;
}

.left-column img
{
    float: left;
    margin-right: 15px;
}

.left-column p.bullet
{
    margin: 4px 0 0 49px;
    height: 85px;
    font-size: 11px;
    color: #484848;
}

.left-column p
{
    font-size: 12px;
}


.clearer
{
    clear: both;
}
